.pagination {
   display: flex;
   gap: 10px;

   &__item {
      width: 28px;
      height: 28px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      transition:
         background-color 0.2s ease,
         color 0.2s ease;

      &:not(&--active):not(&--passive):hover {
         background-color: var(--color-black-70);
         color: var(--white);
      }

      &--active {
         color: var(--color-orange-300);
         cursor: default;
      }

      &--passive {
         color: var(--color-black-70);
         cursor: default;
      }
   }
}
